/* General Page */

body {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 3.5rem 45rem 20rem 45rem 45rem 45rem 45rem 30rem 20rem;
}

@font-face {
  font-family: "Krinkes Regular PERSONAL USE";
  src: url("/Computer/Downloads/krinkes/KrinkesRegularPERSONAL.ttf");
}

/* Header Location and Hours */

header {
background-color: black;
grid-row-start: 1;
grid-row-end: 1;
grid-column: 1 / span 2;
}

.top {
  text-align: center;
  font-family: SimSun-ExtB;
  font-size: 8px;
  letter-spacing: 1.05px;
  padding-top: 6px;
  color: white;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    position: fixed;
    top: 3.5rem;
    left: 2rem;
    width: 100%;
    z-index: 999;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: black;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Home */

#home {
  background-color: #FCF8CD;
  background-image: url("./home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column: 1 / span 2;
  width:100%;
height:100%;
  display: flex;
 align-items: center;
 justify-content: center;
}

.button {
  background-color: black;
  border: 2px solid black;
  border-radius: 30px;
  color: #FCF8CD;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;

  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  width:150px;
height:30px;
}

/* Flavors */

#flavors {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column: 1 / span 2;
  text-align: center;
  background-color: pink;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.scoop1 {
  grid-row-start: 1fr;
  grid-row-end: 1fr;
  background-color: blue;
  height: 100%;
  background: url("./Scoops/blu.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.scoop2 {
  grid-row-start: 2fr;
  grid-row-end: 2fr;
  background-color: blue;
  height: 100%;
  background: url("./Scoops/roast.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* width: auto; */
}

.scoop3 {
  grid-row-start: 3fr;
  grid-row-end: 3fr;
  background-color: blue;
  height: 100%;
  background: url("./Scoops/razzy.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* width: auto; */
}

.scoop4 {
  grid-row-start: 4fr;
  grid-row-end: 4fr;
  background-color: blue;
  height: 100%;
  background: url("./Scoops/matcha.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* width: auto; */
}

.scoop5 {
  grid-row-start: 5fr;
  grid-row-end: 5fr;
  background-color: blue;
  height: 100%;
  background: url("./Scoops/plain.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* width: auto; */
}

.scoop6 {
  grid-row-start: 6fr;
  grid-row-end: 6fr;
  background-color: blue;
  height: 100%;
  background: url("./Scoops/choco.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* width: auto; */
}

.ourFlavors {
  font-family: "Krinkes Regular PERSONAL USE";
  font-size: 2rem;
  letter-spacing: 2px;
  position: relative;
  margin-top: -40px;
}

.outside {
  overflow:hidden;
  width: auto;
  bottom: 50px;
  margin-top: -90px;
}

.slideshow {
  /* display:block; */
  margin-top: -15px;
  position: relative;
  width:100%;
  height:100%;
  animation:scroll 0 linear infinite; /* put seconds here */
  /* padding:3px; */
  /* background-color: blue; */
}

.slideshow:hover {
    animation-play-state: paused
}


/* Make it move and loop properly */
@keyframes scroll{
0% {right:50%;}
100% {right: -50%;}
}

.images img {
  max-height: 100%;
  max-width: auto;
  object-fit: contain;

}

/* Promo 1 */


#promotional1 {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column: 1 / span 2;

}

.image-shakes {
  height: 100%;
  background: url("./Gallery/gif.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 190px;
}

.main {
  text-align: center;
  font-family: "Krinkes Regular PERSONAL USE";
  font-size: 60px;
}

span {
  font-size: 200px;
  line-height: 1;
}


/* About */

#about-image {
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column: 1 / span 1;
  background: url("./about.jpg") center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
  /* background-color: pink; */
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column: 2 / span 1;
  text-align: center;
  color: black;
  background-color: white;
}

.outer {
  /* background-color: green; */
  display: table;
  position: absolute;
  height: 55%;
  width: 50%;
  margin-top: 5%;
}

.middle {
  /* background-color: blue; */
  display: table-cell;
  vertical-align: middle;
}

.inner {
  /* background-color: pink; */
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding-left: 25%;
  padding-right: 25%;
}

#about h1 {
  font-size: 3.5rem;
  font-family: "Krinkes Regular PERSONAL USE";
  letter-spacing: 2.5px;
  /* background-color: green; */

}

#about p {
  font-size: 1.3rem;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1.05px;
  text-align: left;
  margin-top: -30px;
}

/* Promo 2 */

#promotional2 {
  /* background-color: blue; */
  grid-row-start: 6;
  grid-row-end: 6;
  grid-column: 1 / span 2;
}

.promo-ice {
  height: 100%;
  background: url("./Gallery/cards.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 190px;
}

/* Gallery */

#gallery {
  background-color: white;
  grid-row-start: 7;
  grid-row-end: 7;
  grid-column: 1 / span 2;
  align-content: center;
  /* object-fit: cover; */
  vertical-align: center;
  background-color: #FCF8CD;

}

/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  /* background: red; */
  width: 100%;
  position: absolute;
  margin: auto;
  z-index: 1;
  object-fit: cover;

}

.truck {
  height: 45rem;
  background: url("./Gallery/truck.jpg") center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.stack {
  height: 45rem;
  background: url("./Gallery/stack.jpg") center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hat {
  height: 45rem;
  background: url("./Gallery/hat.jpg") center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cream {
  height: 45rem;
  background: url("./Gallery/cream.jpg") center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hands {
  height: 45rem;
  background: url("./Gallery/hands.jpg") center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pastel {
  height: 45rem;
  background: url("./Gallery/pastel.jpg") center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.shelf {
  height: 45rem;
  background: url("./Gallery/shelf.jpg") center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ice-cream {
  height: 45rem;
  background: url("./Gallery/ice-cream.jpg") center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: black;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Promo 3 */

#promotional3 {
  background: url("./Gallery/contain.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  grid-row-start: 8;
  grid-row-end: 8;
  grid-column: 1 / span 2;
  text-align: center;
  z-index: 34;
}

#promotional3 h2 {
  font-family: "Krinkes Regular PERSONAL USE";
  font-size: 5rem;
  letter-spacing: 2.5px;
  margin-top: 3.5vh;
  color: black;
}

/* Location */

#location {
  background-color: grey;
  grid-row-start: 8;
  grid-row-end: 8;
  grid-column: 1 / span 2;
  height: 100%;
  z-index: 10;
}

/* Footer Contents */

footer {
  background-color: black;
  grid-row-start: 9;
  grid-row-end: 9;
  grid-column: 1 / span 2;
  z-index: 10;
}

h2 {
  margin-bottom: 0px;
  font-family: "Krinkes Regular PERSONAL USE";
  font-size: 2.2rem;
  letter-spacing: 1.5px;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1rem;
}

.address {
  color: white;
  display: inline-block;
  padding-right: 100px;
  line-height: 1.5;
}


.contact {
  color: white;
  display: inline-block;
  padding-right: 100px;
  line-height: 1.5;
}

.hours {
  color: white;
  display: inline-block;
  line-height: 1.5;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: SimSun-ExtB;
  padding-top: 20px;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1700px) {
  #flavors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
  }
}

@media only screen and (max-width: 800px) {
  .promo-ice {
    height: 100%;
    background: url("./Gallery/cards.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image-shakes {
  height: 100%;
  background: url("./Gallery/gif.gif") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}

@media only screen and (max-width: 1200px) {
.outer {
  height: 40%;
  margin-top: 15%;
}
#about p {
  font-size: 10pt;
}
}
