body {
  background-color: #E2DED5;
  height: 100%;
  width: 100%;
  margin: auto;
}

.container {
  position: relative;
  height: auto;
  padding: 25% 50%;
  background: url("./logo.jpg") center center no-repeat;
  background-size: cover;
  text-align: center;
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
}

.comingsoon {
  left: 0;
  position:absolute;
  top: 105%;
  width: 100%;
  font-family: Museo-Sans;
  color: #A2A09A;
  font-size: 2vw;
}

@font-face {
  font-family: Museo-Sans;
  src: url("./MuseoSans_500.otf");
}
